.App {
  text-align: center;
}
.app-convert{
  width: 350px;
  min-height: 250px;
  background-color: #fff;
  margin: 50px auto 0 auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.app-img{
  object-fit: cover;
  margin: 0 auto;
}
.counter {
  min-width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #69e47393;
  text-align: center;
  line-height: 100px;
  font-size: 34px;
  margin: 0 auto;
  overflow: scroll;
}

.controls {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.controls button {
  padding: 7px 12px;
  cursor: pointer;
  background-color: #107907;
  color: white;
}
.convert-input{
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto 10px auto;
  border: 1px solid #333;
  border-radius: 3px;
  width: 350px;
}

